@model ProvaDS2Denner.Models.Confeccao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Confeccao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PecaDeRoupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PecaDeRoupa.PecaDeRoupaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConfeccaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
