@model IEnumerable<ProvaDS2Denner.Models.Confeccao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PecaDeRoupa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PecaDeRoupa.PecaDeRoupaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConfeccaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConfeccaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConfeccaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
